<% if object.is_liked?(current_user) %>
  <span class="right">
    <%= link_to unfavorite_restaurant_path(object), method: :post do %>
      <i class="material-icons">thumb_up</i>
    <% end %>
  </span>
<% else %>
  <span class="right">
    <%= link_to favorite_restaurant_path(object), method: :post do %>
      <i class="material-icons">thumb_down</i>
    <% end %>
  </span>
<% end %>