<div class="row">
  <div class="col s12">
    <ul class="tabs tabs-fixed-width">
      <li class="tab col s12 m2 l2 "><%= link_to '全部餐廳' , restaurants_path , target: '_self', class: "active" %></li>
      <% @categories.each do |c| %>
        <li class="tab col s12 m2 l2 ">
          <%= link_to c.name, category_path(c), target: '_self'  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'share/res-show' %>

<div class='center'><%= paginate @rests %></div>