/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "materialize";
@import "toastr";

/*sticky-footer*/


        

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.container {
  padding-top: 40px;
  margin: 0 auto;
}

.row {
  margin: 0 auto;
}

.card-img img {
    width: 100%;
    max-height: 180px;
}

.logo {
  padding-left: 2rem;
}

.devise-title {
  color: #455a64 ;
}

.main-container {
  max-width: 80%;
  margin: 0 auto;
}

.card{

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;

}





