/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize";
@import "toastr";


/*sticky-footer*/


        

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 2em;
}




.row {
  margin: 0 auto;
}

.card{

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.card-img img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.devise-title {
  color: #455a64 ;
}

.main-container {
  max-width: 80%;
  margin: 0 auto;
}


.res-desc-show {
  font-size: 20px;
}

#avatar-pic img{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.profile-panel {
  padding: 0px;
  margin: 10px;
  border: 1px solid;
  border-color: #E1E1E1;
  border-radius: 10%;
  overflow: hidden;
}

.card-panel {
  border: 2px;
  border-color: #E1E1E1;
  padding: 0px;
  margin: 0px;

}

.card-header {
  background-color: #E1E1E1;
  padding: 3px;
  margin: 2px;

}

.name-title {
  font-size: 16px;
  font-weight: bold;
  color: #329BE5;
}

#dashbutton {
  margin-top: 5rem;
}

.link-title {
  font-weight: 400;
}

.row.top-ranking {
  margin-bottom: 3rem;
}

.avatar-small {
  width: 30px;
  height: auto;
}

.avatar-medium {
  width: 40px;
  height: auto;
}
/* Font-awesome setting */
.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

